<div class="img">
    <img src="__PUBLIC__/images/tooopen.jpg" height="300" width="100%">
</div>
<div class="topbar">
    <div class="inner">

        <ul class="nav">
            <li id="menu-item-180" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-180"><a title="人生哲理_人生哲理相关文章_有关生活哲理语录句子" href="http://yispace.net/category/philosophy-life">人生哲理</a></li>
            <li id="menu-item-126" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-126"><a title="励志文章_励志相关文章_励志相关句子语录" href="http://yispace.net/category/inspirational-life">励志文章</a></li>
            <li id="menu-item-489" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-489"><a title="情感美文_情感美文相关文章阅读_情感语录句子大全" href="http://yispace.net/category/youth-campus">情感美文</a></li>
            <li id="menu-item-143" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-143"><a title="经典美文摘抄_经典美文美句摘抄_经典美文欣赏" href="http://yispace.net/category/spiritual-journey">经典美文</a></li>
            <li id="menu-item-137" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-137"><a title="爱情文章_爱情故事_爱情日记_爱情散文美文" href="http://yispace.net/category/affection-sentiment">爱情文章</a></li>
            <li id="menu-item-2323" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2323">
                <a title="人生感悟_人生感悟相关文章_人生感悟相关语录句子" href="http://yispace.net/category/perception-life">人生感悟</a></li>
            <li id="menu-item-14649" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14649"><a title="经典语录语句_爱情经典语录_经典励志语录语句大全" href="http://yispace.net/category/jingdianyulu">经典语录</a></li>
            <li id="menu-item-31436" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31436"><a title="心情说说_心情随笔_心情短语_心情日记大全" href="http://yispace.net/category/good-books">心情说说</a></li>
            <li id="menu-item-31768" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31768"><a title="散文精选_优美散文阅读_经典散文随笔_抒情散文吧" href="http://yispace.net/category/renwen">散文精选</a></li>
        </ul>

        <ul class="nav topmenu">
            <li id="menu-item-12460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12460"><a href="http://yispace.net/contact">关于本站</a></li>
        </ul>
    </div>
</div>