<div class="img">
    <img src=<if condition="$articleOne.pic neq ''">__PUBLIC__/{$articleOne.pic}
    <else/>__PUBLIC__/images/tooopen.jpg</if> height="300" width="100%">
</div>
<div class="topbar">
    <div class="inner">

        <ul class="nav">
            <volist name="catelist" id="vo">
                <li id="menu-item-180" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-180">
                    <if condition="{$vo.id <=8}"><a href="__MODULE__/Cate/index/id/{$vo.id}">{$vo.catename}</a>
                </li>
            </volist>

        </ul>

        <ul class="nav topmenu">
            <li id="menu-item-12460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12460"><a href="__APP__/Admin/Login/">后台登录</a></li>
        </ul>
    </div>
</div>